#!/bin/sh
#
# license

case "$1" in
'start')
  ;;
'stop')
  ;;
'restart')
  ;;
'status')
  ;;

*)
  echo "usage $0 start|stop|restart|status"
  ;;
esac
